<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <title>회원가입</title>
    <!-- error -->
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<!-- Top -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container px-5">
        <div th:replace="fragments/bodyTopLogo :: bodyTopLogo"/>
    </div>
</nav>

    <!--단계 표시-->
    <header class="container mb-4">
        <h1 class="text-center">회원가입</h1><br><br>
    </header>
<div class="content-body">
    <div class="container">
        <div class="join join4">
            <div class="step login-step d-up-lg">
                <ol>
                    <li>
                        <div class="box">약관동의 하기</div>
                    </li>
                    <li class="on">
                        <div class="box">본인인증 하기</div>
                    </li>
                    <li>
                        <div class="box">정보입력 하기</div>
                    </li>
                    <li>
                        <div class="box">회원가입 완료</div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
    <!--본인 인증-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <form method="post" th:action th:object="${phone}">

                                <!--이름 form-->
                                <div class="row">
                                    <label class="form-label" for="username"><strong>이름</strong></label>
                                    <div class="input-group mb-4">
                                        <input type="text" id="username" class="form-control" th:field="*{name}" placeholder = "성명입력">
                                    </div>
                                </div>

                                <!--주민등록번호 form-->
                                <div class="row">
                                    <label class="form-label" for="human-number"><strong>주민등록번호</strong></label>

                                    <div class="col-md-6">
                                        <input type="text" id="human-number" th:field="*{rrnFront}" class="form-control" placeholder="생년월일 YYMMDD" maxlength="6">
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <input type="password" id="human-number" th:field="*{rrnBack}" class="form-control" th:placeholder="${phone.rrnBack} ? '*******':'주민번호 뒷 7자리'" maxlength="7" th:readonly="${phone.rrnBack}">
                                    </div>
                                </div>

                                <!--휴대폰 번호 form-->
                                <div class="row">
                                    <label class="form-label" for="phoneNumber"><strong>휴대폰 번호</strong></label>
                                    <div class="input-group mb-4">
                                        <input type="text" id="phoneNumber" class="form-control" th:field="*{phoneNumber}" placeholder = "숫자만 입력">
                                        <button class="btn btn-outline-primary" type="submit" onclick="alert('인증번호가 전송되었습니다.');">인증번호발송</button>
                                    </div>
                                </div>

                                <!--인증 번호 form-->
                                <div class="row">
                                    <label class="form-label" for="phoneAuthentication"><strong>인증 번호</strong></label>

                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" id="phoneAuthentication" class="form-control" aria-describedby="addonCheck" th:field="*{inputNumber}" placeholder = "숫자 6자리 입력">
                                            <button class="btn btn-outline-primary" type = "submit" id="addonCheck">인증번호확인</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-4">
                    <p>아이디 또는 비밀번호 분실 등 본인 여부 확인이 필요한 경우를 위해 꼭 필요한 절차입니다.</p>
                    <p>허위 정보를 입력하시는 경우 추 후 정확한 본인확인이 불가능하며 아이디/비밀번호 분실 시 도움을 드리기가 어렵습니다.</p>
                </div>
            </div>
        </div>
    </section>

<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>

</html>