<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <title>약물 관리</title>
</head>
<body>
<!-- Top -->
<nav th:replace="fragments/bodyTop :: bodyTop" />

    <!--Side Bar And Table-->
    <section>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <!--sidebar-->
                <div th:replace="fragments/admin/sidebar :: sidebar" />

                <!--Add Table-->
                <div class="col py-3 container" style="margin-left:100px;margin-right:100px;margin-top:60px">
                    <div style="border-bottom:1px solid rgb(197, 197, 197);padding-bottom: 0px;">
                        <h3 class=" fw-bold mb-2" style="display:inline-block;margin-bottom:-20px">약물 조회
                        </h3>
                        <h6 style="display:inline-block;color:rgb(165, 165, 165); float: right;padding-top:15px; font-size:11px">
                            HOME> admin> 약물 조회
                        </h6>
                    </div>
                    <!--검색 form-->
                    <div class=" d-flex justify-content-start" style="padding-top:35px">
                        <div class="mb-4 col-lg-3">
                            <form class="" method="post">
                                <div class="input-group form-floting">
                                    <input type="text" id="doctorSearch" class="form-control" placeholder="이름 검색">
                                    <!--여기 바꾸고싶으면 paceholder 바꾸면됨-->
                                    <button type="submit" class="btn btn-primary name_search"><i
                                            class="bi bi-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <!--등록버튼-->
                        <div class="mb-4 col-lg-9">
                            <button class="btn btn-primary add" type="button"
                                    onclick="location.href = 'nursePatientChartRegister.html'"
                                    style="width:85px; float: right;">등록</button>
                        </div>
                        <!--등록버튼 End-->
                    </div>
                    <!--등록버튼 css-->
                    <style>
                        .add {
                            background-color: dodgerblue;
                            border: 1px solid dodgerblue;
                        }

                        .add:hover {
                            background-color: rgb(16, 134, 252);
                            border: 1px solid rgb(16, 134, 252);
                        }
                    </style>

                    <!--검색버튼 색 css-->
                    <style>
                        .name_search {
                            background-color: rgb(255, 255, 255);
                            color: rgb(16, 134, 252);
                            border: 1px solid dodgerblue;
                        }

                        .name_search:hover {
                            background-color: rgb(16, 134, 252);
                            border: 1px solid rgb(16, 134, 252);
                        }
                    </style>

                    <!--Table List {1}-->
                    <table class="table table-bordered table-hover" id="patientDetail" style="text-align: center;">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">코드</th>
                                <th scope="col">이름</th>
                                <th scope="col">제조사</th>
                                <th scope="col">형태</th>
                                <th scope="col">수정</th>
                                <th scope="col">삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="accordion-toggle" data-bs-toggle="collapse"
                                data-bs-target="#doctorPatientDetail1" th:each="data:${list}">
                                <td>
                                    <h6 th:text="${data.code}">코드</h6>
                                </td>
                                <td>
                                    <h6 th:text="${data.name}">이름</h6>
                                </td>
                                <td th:text="${data.company}">제조사</td>
                                <td th:text="${data.type}">형태</td>
                                <td>
                                    </h6>
                                    <h6 style="font-weight:bold;display:inline"><i class="bi bi-pencil-fill" href="#"
                                        th:onclick="|location.href='@{/admin/medicine/{code}/edit (code=${data.getCode()})}'|" style="color:dodgerblue"></i>
                                    </h6>
                                </td>
                                <td>
                                    <h6 style="font-weight:bold;display:inline"><i class="bi bi-trash-fill" href="#"
                                        th:onclick="|location.href='@{/admin/medicine/{code}/delete (code=${data.getCode()})}'|" style="color:crimson"></i>
                                    </h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!--Pagination js로 헀는데 타임리프 가능하면 주석 해제하고 타임리프-->
                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id=page>

                                <!--이전 버튼-->
                                <!--
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                -->

                                <!--페이지 표시 버튼-->
                                <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
                                -->

                                <!--다음 버튼-->
                                <!--
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                -->
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </section>

<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>

</html>