<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <title>비밀번호 변경</title>
</head>

<body class = "">
<!-- Top -->
<nav th:replace="fragments/bodyTop :: bodyTop" />

    <!--마이페이지 리스트-->
    <section>
        <div class="container">
            <div class="row mb-4 mt-4">
                <h1 class="text-center fw-bold">비밀번호변경</h1>
            </div>
            <div class="row justify-content-start">
                <span class="col-lg-1"></span>
                <div class="col-lg-2">
                    <div class="list-group">
                        <a th:href="@{/mypage}" class="list-group-item list-group-item-action">개인정보수정</a>
                        <a th:href="@{/mypage/changePw}" class="list-group-item list-group-item-action active">비밀번호변경</a>
                        <a th:href="@{/mypage/delete}" class="list-group-item list-group-item-action">회원탈퇴</a>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body">

                            <div class="box-guide">
                                <ul class="list list1-gray">
                                    <li>8자 이상 ~ 20자 이내로 설정해주세요.</li>
                                    <li>영문, 숫자, 특수문자를 모두 포함해주세요.</li>
                                    <li>문자열이 3자리 이상 연속되거나 동일하지 않게 해주세요. (ex. 111, 123, aaa, abc 등)</li>
                                </ul>
                            </div>

                            <hr>
                            <br/>
                            <form method="post" th:action th:object="${form}">
                                <!--마이페이지 수정 테이블-->
                                <table class="table table-bordered">
                                    <thead></thead>
                                    <tbody>
                                        <!--참고 vertical-align: middle 상하중앙정렬 height 표 폭 조절-->
                                        <tr>
                                            <td class="table-light fw-bold" style="vertical-align: middle;">현재 비밀번호</td>
                                            <td style="width: 430px; height: 60px; vertical-align: middle; padding: 2%;">
                                                <input th:field="*{nowPw}" type="password" class="form-control" id = "currentpwd" style="width: 200px;"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-light fw-bold" style="vertical-align: middle;">새 비밀번호</td>
                                            <td style="width: 430px; height: 60px; vertical-align: middle; padding: 2%;">
                                                <input th:field="*{newPw}" type="password" class="form-control" id = "newpwd" style="width: 200px;"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-light fw-bold" style="vertical-align: middle;">새 비밀번호 확인</td>
                                            <td style="width: 430px; height: 60px; vertical-align: middle; padding: 2%;">
                                                <input th:field="*{checkNewPw}" type = "password" class="form-control" id = "pwd" style="width: 200px;"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!--하단에 굵은 줄-->
                                    <tfoot><td style="padding:0%"></td></tfoot>          
                                </table>
                                <!--테이블 end-->
                                
                                <div class="mb-4 text-center">
                                    <button class="btn btn-primary btn-lg" type="submit">변경</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>

</html>