<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <!-- Top -->
    <nav th:replace="fragments/bodyTop :: bodyTop" />

    <!--Side Bar-->
    <section>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <!--Side Bar-->
                <div th:replace="fragments/admin/sidebar :: sidebar" />
                <!--Add react-->
                <div class="col py-3">
                    <h2>의사 정보</h2><a class=" btn btn-primary btn-lg" href="admin_doctor_add.html"  style = " font-size:1.0em; width:90px; height:39px">추가</a>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">이름</th>
                            <th scope="col">성별</th>
                            <th scope="col">전화번호</th>
                            <th scope="col">전공</th>
                            <th scope="col">승인 관리자</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="doctor:${doctors}">
                            <td><a class="nav-link" th:onclick="|location.href='@{/admin/doctorView/{doctorId}(doctorId=${doctor.id})}'|" style="cursor:pointer" th:text="${doctor.info.name}">김철수</a></td>
                            <td th:text="${doctor.info.sex.getDescription()}">남</td>
                            <td th:text="${doctor.info.phoneNumber}">010-1234-2345</td>
                            <td th:text="${doctor.major.getDescription()}">신경외과</td>
                            <td>choi minho</td>
                        </tr>
                        </tbody>



                    </table>
                  
          
                  </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <div th:replace="fragments/footer :: footer"/>
</body>

</html>