<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <title>진료 예약 내역</title>
</head>

<body>
<!-- Top -->
<nav th:replace="fragments/bodyTop :: bodyTop" />

    <!-- 진료예약내역글씨, 설명카트, 취소버튼 start -->
    <div class="container-fluid pt-4 px-4">
        <h2 class="text-center fw-bold " style="margin-top:50px;margin-bottom:60px;color:rgb(85, 85, 85)">진료 예약 내역</h2>
        <!--설명카트-->
        <div style="margin-left:150px;margin-right:150px;margin-top:0px;height:120px;">
            <!--todo list-->
            <div class="h-100 bg-light rounded  p-4" style="border:1px solid rgb(184, 184, 184);height:1000px;">
                <h6 style="color:rgb(85, 85, 85)"><i class="bi bi-dot" href="#" onclick="history.go(-1);"
                        style="color:#4770d9"></i> 인터넷으로 본인이 직접 진료예약을 하셨거나, 진료비 수납이 안된 경우, 예약취소가 가능합니다.</h6>
                <h6 style="margin-top:20px;color:rgb(85, 85, 85)"><i class="bi bi-dot" href="#"
                        onclick="history.go(-1);" style="color:#4770d9"></i> 예약 내역 클릭시 상세내역을 볼 수 있습니다.</h6>

            </div>

        </div>
        <!--설명카트 End-->
    </div>
    <!-- 진료예약내역글씨, 설명카트, 취소버튼 start -->
    <!--예약테이블-->
    <div class="container-fluid pt-4 px-4">
        <div class="row flex-nowrap" style="margin-left:150px;margin-right:150px;margin-top:70px">
            <!--Add Table-->
            <div class="col py-3 container">

                <!--Table List {1}-->
                <table class="table table-bordered table-hover" id="patientDetail" style="text-align: center;">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">예약자</th>
                            <th scope="col">연락처</th>
                            <th scope="col">진료과</th>
                            <th scope="col">의료진</th>
                            <th scope="col">예약일</th>
                            <th scope="col">수정</th>
                            <th scope="col">삭제</th>
                        </tr>
                    </thead>

                    <tbody th:each="appointment : ${appointments}">
                        <tr class="accordion-toggle" data-bs-toggle="collapse" th:data-bs-target="'#doctorPatientDetail' + ${appointment.id}">
                            <td th:text="${appointment.patient.info.name}">예약자</td>
                            <td th:text="${appointment.patient.info.phoneNumber}">연락처</td>
                            <td th:text="${appointment.doctor.major.description}">진료과</td>
                            <td th:text="${appointment.doctor.info.name}">의료진</td>
                            <td th:text="${appointment.medicalDate}">예약일</td>
                            <td>
                                <h6 style="font-weight:bold;display:inline"><i class="bi bi-pencil-fill"
                                        th:onclick="|location.href='@{/patient/updateAppointment/{appointmentId}/update (appointmentId=${appointment.id})}'|" style="color:dodgerblue"></i>
                                </h6>
                            </td>
                            <td>
                                <h6 style="font-weight:bold;display:inline"><i class="bi bi-trash-fill"

                                        th:onclick="|location.href='@{/patient/deleteAppointment/{appointmentId} (appointmentId=${appointment.id})}'|" style="color:crimson"></i>
                                </h6>
                            </td>
                        </tr>
                        <!--Collapse-->
                        <tr>
                            <td colspan="7" class="hiddenRow">
                                <div th:id="'doctorPatientDetail' + ${appointment.id}" class="accordian-body collapse mb-4">
                                    <div class="container">
                                        <div class="card card-body mt-4">
                                            <!--예약자 정보-->
                                            <hr>
                                            <h5 class="mb-4">예약자 정보</h5>
                                            <table class="table table-borderd">
                                                <thead class="table-primary">
                                                    <tr>
                                                        <th scope="col">예약자</th>
                                                        <th scope="col">연락처</th>
                                                        <th scope="col">신청일시</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td th:text="${appointment.patient.info.name}">예약자</td>
                                                        <td th:text="${appointment.patient.info.phoneNumber}">연락처</td>
                                                        <td th:text="${appointment.appointmentDate}">신청일</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <!--진료 정보-->
                                            <hr>
                                            <h5 class="mb-4">진료 정보</h5>
                                            <table class="table table-borderd">
                                                <thead class="table-primary">
                                                    <tr>
                                                        <th scope="col">예약일</th>
                                                        <th scope="col">진료과</th>
                                                        <th scope="col">의료진</th>
                                                        <th scope="col">진료장소</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td th:text="${appointment.medicalDate}">진료일</td>
                                                        <td th:text="${appointment.doctor.major.description}">가정의학과</td>
                                                        <td th:text="${appointment.doctor.info.name}">김지혜</td>
                                                        <td>본관 4층 가정의학과</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!--Collapse End-->
                    </tbody>

                </table>
                <!--Pagination js로 헀는데 타임리프 가능하면 주석 해제하고 타임리프-->
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination" id=page>
                            <!--이전 버튼-->
                            <!--
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                -->

                            <!--페이지 표시 버튼-->
                            <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
                                -->

                            <!--다음 버튼-->
                            <!--
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--예약테이블 End-->

<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>