<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <title>진료과 찾기</title>
</head>
<body class = "">
<!-- Top -->
<nav th:replace="fragments/bodyTop :: bodyTop" />

    <header>
        <div class="container mt-5 mb-5">
            <h1 class="text-center fw-bold">진료과 찾기</h1>
        </div>
    </header>

    <section class="mb-4">
        <form method="post">
            <div class="container">
                <div class="col-lg-9 mx-auto">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-lg-9 mx-auto">
                                <div class="input-group">
                                    <input type="text" id="doctorSearch" class="form-control" placeholder="진료과 또는 질병명을 입력해주세요">
                                    <button class="btn btn-primary" type="button" onclick=""><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <section class="mb-4">
        <div class="container">
            <div class="col-lg-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">진료과 목록</h2>
                        <hr class="mb-4">
                        <div class="row mx-auto mb-3">

                            <div class="col-lg-3 mb-4" th:onclick="|location.href='@{/patient/#/{major} (major=${major.name()})}'|"
                                 th:each="major:${majors}" th:value="${major.name()}" style="cursor:pointer">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center" th:text="${major.description}">진료과</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <span class="row mt-5 mb-5"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
    </div>

<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>

</html>