<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />
<head>
    <title>의료진 찾기</title>
</head>
<body class = "">
<!-- Top -->
<nav th:replace="fragments/bodyTop :: bodyTop" />

    <header>
        <div class="container mt-5 mb-5">
            <h1 class="text-center fw-bold">의료진 찾기</h1>
        </div>
    </header>

    <section class="mb-4">
        <form method="get" th:action>
            <div class="container">
                <div class="col-lg-9 mx-auto">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-lg-3">
                                <select th:field="${form.major}" class="form-select">
                                    <option value="">==전공 선택==</option>
                                    <option th:each="major : ${majors}" th:value="${major.name()}"
                                            th:text="${major.description}">none</option>
                                </select>
                            </div>
                            <div class="col-lg-9">
                                <div class="input-group">
                                    <input type="text" id="doctorSearch" class="form-control" th:field="${form.doctorName}" placeholder="의료진 또는 질병명을 입력해주세요">
                                    <button type = "submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <section class="mb-4">
        <div class="container">
            <div class="col-lg-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">의료진 목록</h2>
                        <hr>
    
                        <!--4명당 한 묶음 1.-->
                        <!---->
                        <div class="row">

                            <div class="col-lg-3 doctor mb-4" id="doctor" th:each="doctor: ${doctors}">
                                <div class="card" style="width: 13rem;">
                                    <img th:src="${doctor.getProfile().getStoreFileName()}" class="card-img-top" alt="조정석">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${doctor.info.name}">이름</h5>
                                        <p class="card-text" th:text="${doctor.major.description}">전공</p>
                                        <a href="#" th:href="@{/patient/apppointment/{doctorId} (doctorId=${doctor.getId()})}" class="btn btn-primary">예약하기</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>