<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <!-- Top -->
    <nav th:replace="fragments/bodyTop :: bodyTop" />

    <!--Side Bar-->
    <section>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <!--Side Bar-->
                <div th:replace="fragments/patient/sidebar :: sidebar" />
                <!--Add react-->
                <div class="col py-3">
                    <h2>진료예약하기</h2>
                    <form>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">진료날짜</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">진료시간</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="">
                          </div>
                        </div>
                        
                       
                        <div class="form-group col-md-4">
                            <label >진료과</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Choose...</option>
                                <option value="1">정형외과</option>
                                <option value="2">신경외과</option>
                                <option value="3">내과</option>
                                <option value="3">외과</option>
                              </select>
                          </div>
                        
                          <div class="form-group col-md-4">
                            <label >희망 의사</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Choose...</option>
                                <option value="1">김철수</option>
                                <option value="2">이영희</option>
                                <option value="3">박철수</option>
                              </select>
                          </div>
                        
                        <button type="submit" class="btn btn-primary">예약</button>
                        <button type="submit" class="btn btn-primary">취소</button>
                      </form>
                  
          
                  </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <div th:replace="fragments/footer :: footer"/>
</body>

</html>