<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <!-- Top -->
    <nav th:replace="fragments/bodyTop :: bodyTop" />

    <!--Side Bar-->
    <section>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <!--Side Bar-->
                <div th:replace="fragments/patient/sidebar :: sidebar" />
                <!--Add react-->
                <div class="col py-3">
                    <h2>환자 정보</h2>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">진료날짜</th>
                            <th scope="col">진료시간</th>
                            <th scope="col">진료과</th>
                            <th scope="col">의사</th>
                            <th scope="col">진료실</th>
                        </tr>
                        </thead>

<!--                        <tbody>-->
<!--                        <tr th:each="medical : ${medicals}">-->
<!--                            <td><a class="nav-link" th:herf="" th:text="${medical}">2022/03/24</a></td>-->
<!--                            <td>14:00</td>-->
<!--                            <td>신경외과</td>-->
<!--                            <td>김철수</td>-->
<!--                            <td>2진료실</td>-->
<!--                        </tr>-->
<!--                        </tbody>-->

                      <tbody>
                        <tr>
                          <td><a class="nav-link" href="patient_current_detail.html">2022/03/24</a></td>
                          <td>14:00</td>
                          <td>신경외과</td>
                          <td>김철수</td>
                          <td>2진료실</td>
                         
                        </tr>
                        <tr>
                          
                          <td><a class="nav-link" href="patient_current_detail.html">2022/03/30</a></td>
                          <td>15:30</td>
                          <td>내과</td>
                          <td>이영희</td>
                          <td>1진료실</td>
                        </tr>
                       
                        
                      </tbody>
                    </table>
                  
          
                  </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <div th:replace="fragments/footer :: footer"/>
</body>

</html>