<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<!-- Top -->
<nav th:replace="fragments/bodyTop :: bodyTop" />

    <!--Side Bar-->
    <section>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <!--Side Bar-->
                <div th:replace="fragments/admin/sidebar :: sidebar" />
                <!--Add react-->
                <div class="col py-3">
                    <h2>질병 정보</h2><a class=" btn btn-primary btn-lg" href="admin_disease_add.html"  style = " font-size:1.0em; width:90px; height:39px">추가</a>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">KCD코드</th>
                                <th scope="col">병명</th>
                                <th scope="col">생성 날짜</th>
                                <th scope="col">업데이트 날짜</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="code:${codes}">
                                <td><a class="nav-link" th:onclick="|location.href='@{/admin/diseaseView/{KCDCode}(KCDCode=${code.id})}'|" style="cursor:pointer" th:text="${code.id}">CODE</a></td>
                                <td th:text="${code.name}">NAME</td>
                                <td th:text="${code.id}">2002/05/03</td>
                                <td th:text="${code.id}">2020/07/23</td>
                            </tr>
                        </tbody>


                    </table>


                  </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <div th:replace="fragments/footer :: footer"/>
</body>

</html>