<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" th:fragment="sidebar">
    <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu">
            <li class="nav-item">
                <a th:onclick="|location.href='@{/admin}'|" class="nav-link align-middle px-0 text-white">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">메인 페이지</span>
                </a>
            </li>
            <li>
                <a th:onclick="|location.href='@{/admin/doctor/list}'|" data-bs-toggle="collapse"
                   class="nav-link px-0 align-middle text-white">
                    <i class="bi bi-person fs-3"></i> <span class="ms-1 d-none d-sm-inline">의사 조회</span>
                </a>
                <a th:onclick="|location.href='@{/admin/doctor/approve}'|" data-bs-toggle="collapse"
                   class="nav-link px-0 align-middle text-white">
                    <i class="bi bi-person fs-3"></i> <span class="ms-1 d-none d-sm-inline">의사 승인</span>
                </a>
            </li>

            <li>
                <a th:onclick="|location.href='@{/admin/nurse/list}'|" data-bs-toggle="collapse"
                   class="nav-link px-0 align-middle text-white">
                    <i class="bi bi-person fs-3"></i> <span class="ms-1 d-none d-sm-inline">간호사 조회</span>
                </a>
                <a th:onclick="|location.href='@{/admin/nurse/approve}'|" data-bs-toggle="collapse"
                   class="nav-link px-0 align-middle text-white">
                    <i class="bi bi-person fs-3"></i> <span class="ms-1 d-none d-sm-inline">간호사 승인</span>
                </a>
            </li>
            <li>
                <a th:onclick="|location.href='@{/admin/medicine}'|" data-bs-toggle="collapse"
                   class="nav-link px-0 align-middle text-white">
                    <i class="bi bi-person fs-3"></i> <span class="ms-1 d-none d-sm-inline">약 조회</span>
                </a>
                <a th:onclick="|location.href='@{/admin/disease}'|" data-bs-toggle="collapse"
                   class="nav-link px-0 align-middle text-white">
                    <i class="bi bi-person fs-3"></i> <span class="ms-1 d-none d-sm-inline">질병 조회</span>
                </a>
            </li>
            <li>
                <a th:onclick="|location.href='@{/admin/esl}'|" data-bs-toggle="collapse"
                   class="nav-link px-0 align-middle text-white">
                    <i class="bi bi-person fs-3"></i> <span class="ms-1 d-none d-sm-inline">ESL</span>
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>
