<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <!--우편번호 api-->
    <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
    <script type="text/javascript" th:src="@{/js/address_number.js}"></script>
    <!-- error -->
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
    <!-- Responsive navbar-->
    <!-- !border: 3px solid rgb(0, 0, 0); -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="container px-5">
            <div th:replace="fragments/bodyTopLogo :: bodyTopLogo"/>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link"
                                            th:onclick="|location.href='@{/login}'|"
                                            style=" font-size:1.0em; width:90px; height:39px">로그인</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Register Section-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-5">세종대병원</h2>

                    <form class="form-user-register" method="post" action="login" th:action th:object="${patient}">
                        <hr>
                        <div class = "row">
                            <div class="form-group col-md-6 ">
                                <label class = "form-label" for = "id">아이디</label>
                                <input type="text" id="id" th:field="*{loginId}" class="form-control" th:errorclass="field-error">
                                <div class="field-error" th:errors="*{loginId}" />
                            </div>
                
                            <div class="form-group col-md-6 mb-4">
                                <label class = "form-label" for = "pwd">비밀번호</label>
                                <input type="password" id="pwd" th:field="*{loginPw}" class="form-control" th:errorclass="field-error">
                                <div class="field-error" th:errors="*{loginPw}" />
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label class = "form-label" for = "name">이름</label>
                            <input type="text" id="name" th:field="*{name}" class="form-control" th:errorclass="field-error">
                            <div class="field-error" th:errors="*{name}" />
                        </div>

                        <div class = "row">
                            <label class = "form-label" for = "human-number">주민등록번호</label>

                            <div class="form-group col-md-6">
                                <input type="text" id="human-number" th:field="*{rrnFront}" class="form-control" placeholder = "생년월일 YYMMDD" th:errorclass="field-error">
                                <div class="field-error" th:errors="*{rrnFront}" />
                            </div>
                            
                            <div class="form-group col-md-6 mb-4">
                                <input type="password" id="human-number" th:field="*{rrnBack}" class="form-control" placeholder = "주민번호 뒷 7자리" th:errorclass="field-error">
                                <div class="field-error" th:errors="*{rrnBack}" />
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label class = "form-label" for = "phone-number">전화 번호</label>
                            <input type="text" id="phone-number" th:field="*{phoneNumber}" class="form-control" placeholder = "010-XXXX-XXXX" th:errorclass="field-error">
                            <div class="field-error" th:errors="*{phoneNumber}" />
                        </div>

                        <div class = "row">
                            <label class = "form-label" for = "post-number">우편번호</label>

                            <div class = "form-group mb-4 col-md-5">
                                <input type="text" id="post-number" th:field="*{zipcode}" class="form-control" placeholder = "05006" th:errorclass="field-error">
                                <div class="field-error" th:errors="*{zipcode}" />
                            </div>

                            <div class ="form-group mb-4 col-md-4">
                                <button class = "btn btn-primary" onclick="postcode()">우편번호검색</button>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label class = "form-label" for = "address">주소</label>
                            <input type="text" id="address" th:field="*{city}" class="form-control" placeholder="ex) 서울특별시 광진구 능동로" th:errorclass="field-error">
                            <div class="field-error" th:errors="*{city}" />
                        </div>

                        <div class="form-group mb-4">
                            <label class = "form-label" for = "detail-address">상세주소</label>
                            <input type="text" id="detail-address" th:field="*{street}" class="form-control" th:errorclass="field-error">
                            <div class="field-error" th:errors="*{street}" />
                        </div>
                        
                        <div class="text-center mb-4">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">회원가입</button>
                        </div>

                        <div class ="text-center mb-4">
                            <h7>이미 회원이시라면, <a th:onclick="|location.href='@{/login}'|" style="cursor:pointer">이 링크를 클릭하여주십시오.</a></h7>
                        </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>  
    </section>

    <!-- Footer-->
    <div th:replace="fragments/footer :: footer"/>
</body>

</html>