<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <title>세종대병원</title>
</head>
<body>
<!-- Responsive navbar-->
<!-- !border: 3px solid rgb(0, 0, 0); -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <!-- bodyTopLogo -->
        <div th:replace="fragments/bodyTopLogo :: bodyTopLogo"/>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link"
                                        th:onclick="|location.href='@{/join}'|"
                                        style=" font-size:1.0em; width:90px; height:39px">회원가입</a></li>
                <li class="nav-item"><a class="nav-link"
                                        th:onclick="|location.href='@{/login}'|"
                                        style=" font-size:1.0em; width:90px; height:39px">로그인</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-start">
            <div class="col-sm-5 col-md-6">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder text-white mb-2">
                        <br>Welcome to<br>ESL-병원시스템
                    </h2>
                    <p class="lead text-white-50 mb-4">capstone-ESL</p>
                </div>
            </div>
            <div class="col-sm-5 col-md-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2 ">
                        <img src="assets/images/undraw_doctors_hwty.svg" width="400">
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person"></i>
                </div>
                <h2 class="h4 fw-bolder">환자 Part</h2>
                <p>환자의 관한 정보를 처리할 수 있습니다.</p>
                <a class="text-decoration-none" th:onclick="|location.href='@{/patient}'|">
                    들어가기
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person"></i>
                </div>
                <h2 class="h4 fw-bolder">간호사 Part</h2>
                <p>부가 설명 칸입니다.</p>
                <a class="text-decoration-none" th:onclick="|location.href='@{/nurse}'|">
                    들어가기
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person"></i>
                </div>
                <h2 class="h4 fw-bolder">의사 Part</h2>
                <p>부가 설명 칸입니다.</p>
                <a class="text-decoration-none" th:onclick="|location.href='@{/doctor}'|">
                    들어가기
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                        class="bi bi-wrench-adjustable"></i></div>
                <h2 class="h4 fw-bolder">관리자 Part</h2>
                <p>관리자의 권한으로만 접근가능합니다.</p>
                <a class="text-decoration-none" th:onclick="|location.href='@{/admin}'|">
                    들어가기
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>