<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<!-- Top: logo, login -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container px-5">
        <div th:replace="fragments/bodyTopLogo :: bodyTopLogo"/>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link"
                                        th:onclick="|location.href='@{/login}'|"
                                        style=" font-size:1.0em; width:90px; height:39px">로그인</a></li>
            </ul>
        </div>
    </div>
</nav>

    <!--비밀번호 찾기 form-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
                    <div class="card my-5">
                        <div class="card-body">
                            <form method="post" th:action th:object="${findLoginPw}">

                                <!--이름 form-->
                                <div class = "mb-4">
                                    <label class = "form-label" for = "name">이름</label>
                                    <div class= "input-group">
                                        <input type = "text" id = "name" th:field="*{name}" class = "form-control" required autofocus/>
                                    </div>
                                </div>

                                <!--id form-->
                                <div class = "mb-4">
                                    <label class = "form-label" for = "id">아이디</label>
                                    <div class = "input-group">
                                        <input type = "text" id = "name" th:field="*{loginId}" class = "form-control" required autofocus/>
                                    </div>
                                </div>

                                <!--휴대폰 번호 form-->
                                <div class="row">
                                    <label class="form-label" for="phone-number">휴대폰 번호</label>

                                    <div class="input-group mb-4">
                                        <input type="text" class="form-control" th:field="*{phoneNumberFront}" id="phoneNumber1" required autofocus/>
                                        <span class="input-group-text">-</span>
                                        <input tyep="text" class="form-control" th:field="*{phoneNumberMid}" id="phoneNumber2" required autofocus/>
                                        <span class='input-group-text'>-</span>
                                        <input tyep="text" class="form-control" th:field="*{phoneNumberBack}" id="phoneNumber3" required autofocus/>
                                        <button class="btn btn-outline-primary" type="submit" id="sendPhoneNumber" onclick="alert('인증번호가 전송되었습니다.');">인증번호발송</button>
                                    </div>
                                </div>

                                <!--인증 번호 form-->
                                <div class="row mb-4">
                                    <label class="form-label" for="phoneAuthentication">인증 번호</label>

                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" id="userNum" class="form-control" th:field="*{inputNumber}" aria-describedby="addonCheck">
                                            <button class="btn btn-outline-primary" type = "submit" id="checkBtn">인증번호확인</button>
                                        </div>
                                        <!-- 글로벌 오류 메세지 -->
                                        <div th:if="${#fields.hasGlobalErrors()}" class="text-center mb-4">
                                            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                                               th:text="${err}">전체 오류 메시지</p>
                                        </div>
                                    </div>
                                </div>

                                <!--비밀번호 찾기 버튼-->
                                <div class = "mb-4 text-center">
                                    <button class = "btn btn-primary" type = "submit" onclick="location.href = '#'">비밀번호 찾기</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
       