<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <title>ESL 등록</title>
    <style>
        .name_search {
            background-color: dodgerblue;
            border: 1px solid dodgerblue;
        }
        .name_search:hover {
            background-color: rgb(16, 134, 252);
            border: 1px solid rgb(16, 134, 252);
        }

        .pre:hover {
            background-color: #f4f4f4;
            border: 1px solid #f4f4f4;
        }

    </style>
</head>
<body>
<!-- Top -->
<nav th:replace="fragments/bodyTop :: bodyTop" />

    <!--Side Bar And Table-->
    <section>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <!--sidebar-->
                <div th:replace="fragments/admin/sidebar :: sidebar" />

                <!--Add Table-->
                <div class="col py-3 container" style="margin-left:100px;margin-right:100px;margin-top:60px">
                    <div class="container d-flex justify-content-center mb-4">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title text-center fw-bold">ESL 등록</h2>
                                    <hr class="text-dark">
                                    <form method="post" th:action th:object="${form}">
                                        <!--여기부터-->

                                        <div class="mb-4">
                                            <label class="form-label" for="doctor">이름</label>
                                            <div class="input-group">
                                                <input th:field="*{name}" type="text" id="doctor" class="form-control"
                                                    placeholder="이름 입력">
                                                <!--여기 바꾸고싶으면 paceholder 바꾸면됨-->
                                                <button type="submit" class="btn btn-primary name_search"><i
                                                        class="bi bi-search"></i></button>
                                            </div>
                                        </div>
                                        <!--여기까지 검색버튼 추가한부분-->

                                        <div class="mb-4">
                                            <label class="form-label" for="gender">진료과</label>
                                            <input th:field="*{major}" class="form-control" type="text" id="gender" readonly/>
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label" for="phone-number">직급</label>
                                            <input th:field="*{rank}" class="form-control" type="tel" id="phone-number" readonly/>
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label" for="license">대학교</label>
                                            <input th:field="*{university}" class="form-control" type="text" id="uni" readonly />
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label" for="license">연락처</label>
                                            <input th:field="*{phoneNumber}" class="form-control" type="text" id="license" readonly />
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label" for="license">진료실</label>
                                            <input th:field="*{room}" class="form-control" type="text" id="room" />
                                        </div>

                                        <div class="mb-4 text-center">
                                            <button class="btn btn-primary name_search" type="submit"
                                                style="width:85px; float: center;">등록</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--이전 버튼-->
                    <div class="text-center mb-4">
                        <button class="btn btn-light pre" type="button" th:onclick="|location.href='@{/admin/esl}'|"
                            style="width:85px; float: center;">이전</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>

</html>